<div fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"          >
    <div fxFlex style="padding: 10px;">

<mat-card>
  <mat-card-content>


<div fxLayout="column"
fxLayout.xs="column"
fxLayout.sm="column"  >
<div fxFlex  >
      <h2 class="example-h2">Montant Crédit : </h2>

      <mat-form-field class="example-margin" style="margin-left:9px;">
        <input matInput  type="number" placeholder="Valeur" name="DPRCAPITAL" [(ngModel)]="body.DPRCAPITAL">
      </mat-form-field>
      <mat-slider style="margin-left:9px;"
            class="example-margin"
            [disabled]="disabled"
            [invert]="invert"
            [max]="maxDPRCAPITAL"
            [min]="min"
            [step]="step"
            thumbLabel

            [(ngModel)]="body.DPRCAPITAL"
            [vertical]="vertical">
        </mat-slider>
      <h2 class="example-h2">Durée de remboursement</h2>

      <mat-form-field class="example-margin" style="margin-left:9px;">
        <input matInput type="number" placeholder="Valeur" name="DPRNBRECHEANCE" [(ngModel)]="body.DPRNBRECHEANCE">
      </mat-form-field>
      <br />
      <mat-slider style="margin-left:9px;"
      class="mat-slider-horizontal"

      [max]="maxDPRNBRECHEANCE"
      [min]="min"
      [step]="step"
      thumbLabel

      [(ngModel)]="body.DPRNBRECHEANCE"
      [vertical]="vertical">
  </mat-slider>
</div>

<div fxFlex fxLayout="row" fxLayoutGap="50px">
    <h2>Périodicité</h2>
    <mat-form-field>
      <mat-label>Periode</mat-label>
      <mat-select [(value)]="body.DPRMENSUALITE">
        <mat-option *ngFor="let periode of periodes" [value]="periode.value"  >
          {{periode.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

</div>

<button mat-button (click)="Simuler()" style="background-color: #2b5988"> <span style="color: white">Simuler</span></button>
</div>

</mat-card-content>
</mat-card>
</div>

<div fxFlex style="padding: 10px;">

  <mat-card>
    <mat-card-title>
      <div fxFlex>
        <div >
            <h2 class="example-h2">RECAPITULATIF</h2>
        </div>
      </div>

    </mat-card-title>
    <mat-card-content>
        <div  fxLayout="row">
      <h4>Capital à Rembourser : </h4> <span style="padding-top: 17px;padding-left: 100px">{{body.DPRCAPITAL}}</span></div>
      <div  fxLayout="row">        <h4>Durée de remboursement </h4> <span style="padding-top: 19px;padding-left: 100px">{{body.DPRNBRECHEANCE}} Mois</span></div>
            <div  fxLayout="row">   <h4>Périodicité:</h4>   <span style="padding-top: 19px;padding-left: 174px">{{body.DPRMENSUALITE}}</span></div>

      <h2>RESULTAT</h2>

<mat-card>

  <mat-card-content>

<div fxLayout="row" *ngIf="Simulation" >

  <div fxFlex>
      <div  fxLayout="row">  <h4>Montant Totale du: </h4>  <span style="padding-top: 19px;padding-left: 50PX">{{Simulation.DPRCAPITAL}} $</span> </div>
      <div  fxLayout="row"> <h4>Echéance:</h4>   <span style="padding-top: 19px;padding-left: 50PX">{{Simulation.DPRECHEANCE}} $</span> </div>
  </div>
  <div fxFlex>


    <div  fxLayout="row"> <h4>
      Dont intéret:
    </h4>
    <span style="padding-top: 19px;padding-left: 50PX">{{Simulation.DPRTOTALINTERET}} $</span></div>

    <div  fxLayout="row" style="padding-left: 20px;"> <h4>
      Taux:
    </h4>
    <span style="padding-top: 19px;padding-left: 50PX">{{body.DPRTAUXINTERET}}%</span></div>
    </div>

</div>

  </mat-card-content>
</mat-card>

    </mat-card-content>
    <div  fxLayout="row" style="    padding-left: 103px;">
    <button mat-button back (click)="openAdddemande()" style="background-color: #2b5988;"><span style="color: white"> Demande Crédit</span></button>
    <button mat-button color="primary" (click)="openConsulterEcheance()" style="background-color: #2b5988;margin-left: 10px"><span style="color: white">Voir Echéancier</span></button>
    </div>
  </mat-card>



</div>

</div>


