
  <div class="dropzone" appDnd (filesChangeEmiter)="onFilesChange($event, i, file)" >
    <div class="text-wrapper" >
      <div class="centered">Drop your file here! {{file.nom}}</div>
      <input type='file' name='file' (change)="onFilesChangef($event, i, file)" />
    </div>
</div>

  <div class="dropzone-list" >

      <div class="row" >
        <div  class="col-ms-2" *ngFor="let file of fileList " >
          {{ file.name }}
        </div>

      </div>
    </div>

    <button mat-button color="primary" (click)="sendDemande()">Submit</button>
